<nav>
    <a href="https://webpages.charlotte.edu/earguell/"
     target="_blank" rel="noopener noreferrer">
        CLT Web
    </a> |
    <a href="https://github.com/paz2210iii"
     target="_blank" rel="noopener noreferrer">
        GitHub
    </a> | 
    <a href="https://paz2210iii.github.io/"
     target="_blank" rel="noopener noreferrer">
        GitHub.io
    </a> | 
    <a href="https://paz2210iii.github.io/itis3135/"
     target="_blank" rel="noopener noreferrer">
        Github.io 3135
    </a> | 
    <a href="https://www.freecodecamp.org/fcc-d76f083e-8cd8-4bcb-b1ff-d984735417af"
     target="_blank" rel="noopener noreferrer">
        FreeCodeCamp
    </a> |
    <a href="https://www.codecademy.com/profiles/paz2210ii"
     target="_blank" rel="noopener noreferrer">
        CodeAcademy
    </a> |
    <a href="https://www.linkedin.com/in/ethan-arguello-460950380/"
     target="_blank" rel="noopener noreferrer">
        LinkedIn
    </a>
    <br><br>
    <a href="">
        Ebullient Axolotl
    </a>
    <br><br>
    Created by <a href="../arguellowebwork.com/index.html">
        Arguello Webworks ©2025
    </a>
</nav>